@model ELBF20250326.AppWebMVC.Models.Warehouse

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Regsitro de Bodega.</h1>

<h3>Estas Seguro que deas Eliminar esta bodega ?</h3>
<div>
    <h4>Bodega:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseName)
        </dd>
    </dl>
    <hr />

    <form asp-action="Delete" method="post" class="d-flex align-items-center gap-2">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success">Regresar a la lista</a>
    </form>
</div>
